{% extends 'base.html' %}

{% block title %}{{ block.super }} - {{ page_title }}{% endblock %}



{% block breadcrumbs %}
{% url 'home' as home_url %}{% breadcrumb "Главная" home_url %}
{% breadcrumb page_title %}

{% model_parents_pathway parent %}

{% endblock %}

{% block content %}   
<fieldset class="mt-5 bg-white">
    <div class="p-4 pb-1 bg-secondary bg-opacity-10">
        <form id="ff" class="ajax_form" data-target="#datalist" action="{% url 'tasks:listing' %}?{% url_qs %}" method="get">
            {% include "_parts/form.html" with form=ff %}
        </form>
    </div>
    <div id="datalist" class="ajax-container p-4 mt-2" data-form="#ff"></div> 
</fieldset>
{% endblock %}