{% load mptt_tags %}
{% load humanize %}

<table class="table table-hover table-fixed-head">
    <thead>
        <tr>
            <th scope="col" class="fit">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Наименование</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Плановая дата</th>
            <th scope="col">Фактическая дата</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Работа</th>
            <th scope="col" class="text-end text-nowrap">
                {% if check_perm.tasks.address_add %}
                <a class="modal_link" title="Добавить"
                    data-modal-title="Новая задача" 
                    data-modal-size="modal-lg"
                    data-target="#datalist"
                    data-href="{% url 'tasks:add' %}?{% url_qs %}">{{ 'Добавить'|action_icon }}</a>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for o in data %}
        {% include "./listing__item.html" with o=o %}
        {% endfor %}
    </tbody>
</table>
<div class="my-2">
    {% url 'tasks:listing' as pager_base_url %}
    {% include '_parts/pager_ajax.html' with objects=data target='#datalist' base_url=pager_base_url %}
</div>
