<table class="table table-hover table-fixed-head">
    <thead>
        <tr>
            <th scope="col" class="fit">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Наименование</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Плановая дата</th>
            <th scope="col">Фактическая дата</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Работа</th>
            <th scope="col" class="text-end text-nowrap">
                {% if check_perm.tasks.address_add %}
                <a class="modal_link" title="Добавить"
                    data-modal-title="Новая задача" 
                    data-modal-size="modal-lg"
                    data-target="#datalist"
                    data-href="{% url 'tasks:add' %}?{% url_qs %}">{{ 'Добавить'|action_icon }}</a>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for o in data %}
        <tr>
            <th scope="row">{{ o.pk }}</th>
            <td>{{ o.date_add|date:'d.m.Y H:i' }}</td>
            <td>
                {% if o.has_children %}
                <a href="{% url 'tasks:home' %}?parent={{ o.pk }}">{{ o.task_name|highlight:ff.cleaned_data.q }}</a>
                {% else %}
                {{ o.task_name|highlight:ff.cleaned_data.q }}
                {% endif %}
            </td>
            <td>{{ o.date_start|filter_none|date:'d.m.Y' }}</td>
            <td>{{ o.date_stop|filter_none|date:'d.m.Y' }}</td>
            <td>{{ o.date_fact|filter_none|date:'d.m.Y' }}</td>
            <td>{{ o.employee_name|filter_none }}</td>
            <td>
                <a class="modal-link"
                    data-modal-title="Работы" 
                    data-modal-size="modal-xl"
                    data-target="#datalist"
                    data-href="{% url 'tasks:task_material_listing' o.pk %}?{% url_qs %}">
                    {{ o.s_work|filter_none }}
                </a>
            </td>
            <td class="text-nowrap text-end">
                {% if check_perm.tasks.change %}
                <a class="modal_link me-2" title="Изменить" 
                    data-modal-title="Изменение данных задачи" 
                    data-modal-size="modal-lg"
                    data-target="#datalist"
                    data-href="{% url 'tasks:change' o.pk %}?{% url_qs %}">
                    {{ 'Изменить'|action_icon }}
                </a>
                {% endif %}
                {% if check_perm.tasks.delete_complete %}
                <a class="text-danger dialog_delete" title="Удалить" 
                    data-target="#datalist" 
                    data-href="{% url 'tasks:delete_complete' o.pk %}?{% url_qs %}">
                    {{'Удалить'|action_icon }}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100">
                <div class="form-text">Количество записей: {{ count }}</div>
            </td>
        </tr>
    </tfoot>
</table>
<div class="my-2">
    {% url 'tasks:listing' as pager_base_url %}
    {% include '_parts/pager_ajax.html' with objects=data target='#datalist' base_url=pager_base_url %}
</div>