{% load humanize %}
<table class="table table-hover table-fixed-head table-bordered border-secondary mt-2 lh-sm small">
    <thead>
        <tr>
            <th scope="col" rowspan="2" class="align-middle">Наименование</th>
            <th scope="col" rowspan="2" class="align-middle">Ед. измер-я</th>
            <th scope="col" rowspan="2" class="align-middle text-center">Кол-во</th>
            <th scope="col" rowspan="2" class="align-middle text-center">Сделано факт-ки</th>
            
            <th scope="col" colspan="2" class="align-middle text-center">Материалы</th>
            <th scope="col" colspan="2" class="align-middle text-center">Работа</th>
            <th scope="col" colspan="2" class="align-middle text-center">Материалы (себестоимость)</th>
            <th scope="col" colspan="2" class="align-middle text-center">Работа (себестоимость)</th>
            
            <th scope="col" rowspan="2" class="align-middle text-center text-nowrap">
                {% if check_perm.tasks.task_material_add %}
                <a class="modal_link" title="Добавить"
                    data-modal-title="Новый материал к работе" 
                    data-modal-size="modal-lg"
                    data-target="#main_modal_body"
                    data-href="{% url 'tasks:task_material_add' task.pk %}?{% url_qs %}">{{ 'Доб.'|action_icon }}</a>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th scope="col" class="align-middle text-center">Цена за ед</th>
            <th scope="col" class="align-middle text-center">Итого, руб.</th>
            <th scope="col" class="align-middle text-center">Цена за ед.</th>
            <th scope="col" class="align-middle text-center">Итого, руб.</th>
            <th scope="col" class="align-middle text-center">Цена за ед</th>
            <th scope="col" class="align-middle text-center">Итого, руб.</th>
            <th scope="col" class="align-middle text-center">Цена за ед.</th>
            <th scope="col" class="align-middle text-center">Итого, руб.</th>
        </tr>
    </thead>
    <tbody>
        {% for o in data %}
        <tr>
            <td>{{ o.s_material }}</td>
            <td>{{ o.unit_measure }}</td>
            <td class=" text-center">{{ o.material_count|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.material_count_fact|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.material_cost|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.material_cost_total|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.work_cost|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.work_cost_total|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.m_cost_value|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.cost_value_total|filter_none|floatformat:2|intcomma }}</td>
            <td class=" text-center">{{ o.m_cost_work|filter_none|intcomma }}</td>
            <td class=" text-center">{{ o.cost_work_total|filter_none|floatformat:2|intcomma }}</td>
            <td class="text-nowrap text-center">
                {% if check_perm.tasks.task_material_change %}
                <a class="modal_link me-2" title="Изменить" 
                    data-modal-title="Изменение данных материала к работе" 
                    data-modal-size="modal-lg"
                    data-target="#main_modal_body"
                    data-href="{% url 'tasks:task_material_change' o.pk %}?{% url_qs %}">
                    {{ 'Изменить'|action_icon }}
                </a>
                {% endif %}
                {% if check_perm.tasks.task_material_delete_complete %}
                <a class="text-danger dialog_delete" title="Удалить" 
                    data-target="#main_modal_body" 
                    data-href="{% url 'tasks:task_material_delete_complete' o.pk %}?{% url_qs %}">
                    {{'Удалить'|action_icon }}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100">
                <div class="form-text">Количество записей: {{ count }}</div>
            </td>
        </tr>
    </tfoot>
</table>
<div class="my-2">
    {% url 'tasks:task_material_listing' task.pk as pager_base_url %}
    {% include '_parts/pager_ajax.html' with objects=data target='#main_modal_body' base_url=pager_base_url %}
</div>